@use "../../styles/colors.scss" as *;
@use "../../styles/fonts.scss" as *;
@use "../../styles/sizes.scss" as *;
@use "../../styles/extendLayout.scss";
@use "../../styles/extendSurface.scss";

.contact form {

  color       : $color-12;
  display     : grid;
  grid        :
    "n p"
    "s s"
    "m m"
    "b b";
  font-family: $action-font;
  padding    : $size-24 $size-32;
  width      : fit-content;
  align-items: flex-end;
  text-align : left;
  width      : 100%;
  row-gap    : $size-32;


  label {
    @extend .baseGrid;

    &:nth-of-type(1){
      grid-area: n;
    }

    &:nth-of-type(2){
      grid-area: p;
    }

    &:nth-of-type(3){
      grid-area: s;
    }

    &:nth-of-type(4){
      grid-area: m;
    }

    input, textarea {
      @extend .withBorder;

      background-color: $color-13;
      border-color    : $color-11;
      border-style    : solid;
      color           : $color-11;
      font-size       : var(--sf-20);
      padding         : $size-16;
      font-family: $action-font;

      &:focus-visible {
        outline: $color-11 auto 1px;
      }
    }
  }

  button {
    height    : var(--s-60);
    margin-top: $size-32;
    grid-area : b;
    justify-self: center;
  }
}