<section class="contact">
  <form>
    <label for="nom">Nom complet*
      <input type="text" id="nom" name="nom" required placeholder="Votre nom">
    </label>

    <label for="email">Email*
      <input type="email" id="email" name="email" required placeholder="votre.email@exemple.com">
    </label>


    <label for="sujet">Sujet*
      <input id="sujet" type="text" autocorrect="on" name="sujet" required />
    </label>

    <label for="message">Message*
      <textarea id="message" name="message" required placeholder="Écrivez votre message ici..." rows="15" autocorrect="on"></textarea>
    </label>

    <button type="submit">Envoyer le message</button>
  </form>
</section>