<section class="contact" action="#" method="POST" novalidate>
  <form>
    <label for="nom">Nom complet*
      <input type="text" id="nom" name="nom" required placeholder="Votre nom">
    </label>

    <label for="email">Email*
      <input type="email" id="email" name="email" placeholder="votre.email@exemple.com" autocomplete="email" aria-required="true" inputmode="email" required>
    </label>


    <label for="subject">Object de votre message*
        <select id="subject" name="subject" required aria-required="true">
            <option value="" disabled selected hidden>Objet de votre message</option>
            <option value="">sujet 1</option>
            <option value="">sujet 2</option>
            <option value="">sujet 3</option>
        </select>
    </label>

    <label for="message">Message*
      <textarea id="message" name="message" required placeholder="Écrivez votre message ici..." rows="15" autocorrect="on" aria-required="true"  aria-describedby="message-help"></textarea>
    </label>

    <button type="submit">Envoyer le message</button>
    <p class="required-info" aria-hidden="true">Les champs marqués d'un <span aria-hidden="true">*</span> sont obligatoires.</p>
  </form>
</section>