@use "../../styles/colors.scss" as *;
@use "../../styles/fonts.scss" as *;
@use "../../styles/sizes.scss" as *;
@use "../../styles/extendSurface.scss";

.contact form {

  // border-color: $color-10;
  color       : $color-12;
  display     : grid;
  grid        :
    "n p"
    "s s"
    "m m"
    "b b";
  font-family: $action-font;
  padding    : $padding-l $padding-xl;
  width      : fit-content;
  align-items: flex-end;
  text-align : left;
  width      : 100%;
  row-gap    : $padding-xl;


  label {
    display     : grid;
    gap         : 0.5rem;
    margin-right: 24px;

    &:nth-of-type(1){
      grid-area: n;
    }

    &:nth-of-type(2){
      grid-area: p;
    }

    &:nth-of-type(3){
      grid-area: s;
    }

    &:nth-of-type(4){
      grid-area: m;
    }

    input, textarea {
      @extend .withBorder;

      background-color: $color-13;
      border-color    : $color-11;
      border-style    : solid;
      color           : $color-11;
      font-size       : 1.25rem;
      padding         : $padding-default;
      font-family: $action-font;

      &:focus-visible {
        outline: $color-11 auto 1px;
      }
    }
  }

  button {
    height    : 60px;
    margin-top: $padding-xl;
    grid-area : b;
    justify-self: center;
  }
}