@use "../../styles/background.scss";
@use "../../styles/extendBlock.scss";
@use "../../styles/extendTypo.scss";
@use "../../styles/colors.scss" as *;
@use "../../styles/sizes.scss" as *;

.valeurs {
  max-width: calc($desktopRef - ($size-120 * 2));
  margin: 0 auto;
  padding: $size-32 0 $size-60 0;


  display: flex;
  gap: $size-32;
  flex-direction: column;

  section {
    @extend .bgCol13;
    // @extend .sectionBase;

    display: block;
    column-count: 2;
    column-gap: var(--sf-48);
    column-fill: auto;
    max-height: 415px;
  }

  h2 {
    text-align: center;
    width: 100%;
    margin-bottom: var(--s-32);
    color: $color-4;
    column-span: all;
    padding-top: var(--s-60);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: var(--s-40);
  }

  section:first-of-type h2 {
    background-image: url(/assets/icons/kern.svg);
  }

  section:last-of-type h2 {
    background-image: url(/assets/icons/3epis.svg);
  }

  p,
  ul {
    @extend .useAlbertMedium;

    text-align: initial;
    break-inside: avoid;
  }

  p {
    margin-top: 0 !important;
  }

  ul {
    padding-left: var(--s-20);
  }

}