@use "../../styles/background.scss";
@use "../../styles/extendBlock.scss";
@use "../../styles/extendTypo.scss";
@use "../../styles/colors.scss" as *;
@use "../../styles/sizes.scss" as *;
@use "../../styles/mixins.scss" as *;
@use "../../styles/settings.scss" as *;

.valeurs {
  @extend .flexCol;

  gap      : $size-32;
  margin   : 0 auto;
  max-width: calc($desktopLargeRef - ($size-120 * 2));
  padding  : $size-32 0 $size-16 0;

  section {
    @extend .bgCol13;
    // @extend .sectionBase;

    display: block;
    column-count: 2;
    column-gap: $sizeF-48;
    column-fill: auto;

    @include aPartir('desktopXl'){
      max-height: 415px;
    }
  }

  h2 {
    text-align: center;
    width: 100%;
    margin-bottom: $size-32;
    color: $color-4;
    column-span: all;
    padding-top: $size-60;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: $size-40;
  }

  section:first-of-type h2 {
    background-image: url(/assets/icons/kern.svg);
  }

  section:last-of-type h2 {
    background-image: url(/assets/icons/3epis.svg);
  }

  p,
  ul {
    @extend .useAlbertMedium;

    text-align: initial;
    break-inside: avoid;
  }

  p {
    margin-top: 0 !important;
  }

  ul {
    padding-left: $size-20;
  }

}


@include jusque("tablet") {
  .valeurs {
    section {
      column-count: initial;
      column-gap  : $sizeF-32;
      column-fill : initial;
    }
  }
}