// @use "../../styles/extendBlock.scss";
@use "../../styles/extendLayout.scss";
@use "../../styles/extendTypo.scss";
@use "../../styles/fonts.scss" as *;
@use "../../styles/sizes.scss" as *;
@use "../../styles/mixins.scss" as *;

.produits{

  // @extend .sectionBase;
  @extend .block;

  display: grid;
  grid:
    "h h h"
    "a1 a2 a3"
    "a4 a5 .";
  width: 100%;
  gap:$size-24;

  h2 {
    grid-area: h;
  }

  h3 {
    margin: $size-24 0;
  }

  img {
    @extend .dw383;
  }

  article:nth-of-type(1) {
    grid-area: a1;
  }

  article:nth-of-type(2) {
    grid-area: a2;
  }

  article:nth-of-type(3) {
    grid-area: a3;
  }

  article:nth-of-type(4) {
    grid-area: a4;
  }

  article:nth-of-type(5) {
    grid-area: a5;
  }

  p {
    @extend .useAlbertMedium;
    text-align: initial;
  }
}

@include jusque("desktop") {
  .produits {
    //TODO ajouter flou sur img

    --artSize: cal( (100% - #{$size-24}) / 2);

    grid:
      "h h"
      "a1 a2"
      "a3 a4"
      "a5 a5"
      /1fr 1fr;

    article {
      // width: clamp(300px, 100%, 383px);
      // max-width:50%;
      justify-self: center;

      &:last-of-type{
        max-width: 50%;
      }
    }

    img {
      width: 100%;
    }
  }

}

@include jusque("tablet") {
  .produits { //TODO ajouter flou sur img
    display: flex;
    flex-direction: column;

    article:last-of-type{
      max-width: 100% !important;
    }
  }
}