// @use "../../styles/extendBlock.scss";
@use "../../styles/extendLayout.scss";
@use "../../styles/extendTypo.scss";
@use "../../styles/fonts.scss" as *;
@use "../../styles/sizes.scss" as *;

.produits{

  // @extend .sectionBase;
  @extend .block;

  display: grid;
  grid:
    "h h h"
    "a1 a2 a3"
    "a4 a5 .";
  width: 100%;
  gap:$size-24;

  h2 {
    grid-area: h;
  }

  h3 {
    margin: $size-24 0;
  }

  img {
    @extend .dw383;
  }

  article:nth-of-type(1) {
    grid-area: a1;
  }

  article:nth-of-type(2) {
    grid-area: a2;
  }

  article:nth-of-type(3) {
    grid-area: a3;
  }

  article:nth-of-type(4) {
    grid-area: a4;
  }

  article:nth-of-type(5) {
    grid-area: a5;
  }

  p {
    @extend .useAlbertMedium;
    text-align: initial;
  }
}