@use "../announcementBar/announcementBar.scss" as *;
@use "../card/card.scss" as *;
@use "../mainNav/mainNav.scss" as *;
@use "../../styles/animations.scss";
@use "../../styles/background.scss";
@use "../../styles/colors.scss" as *;
@use "../../styles/extendBlock.scss";
@use "../../styles/extendSurface.scss";
@use "../../styles/fonts.scss" as *;
@use "../../styles/settings.scss" as *;
@use "../../styles/sizes.scss" as *;
@use "../../styles/mixins.scss" as *;

.hero {
  @extend .tear;

  position           : relative;
  padding            : 0 calc(((100vw - $desktopLargeRef) / 2) + $size-120);
  background-size    : cover;
  background-position: center;

  &>nav {
    @extend .mainNav;
  }
}

.hero.home {
  @extend .jardin;

  article {
    @extend .withBorder;
    @extend .dw383;

    display: grid;
    gap    : 0 $spacing ;
    grid   :
      "img p"
      "img h2"
      / $iconSize 1fr;
    padding         : $size-24 $size-32 !important;
    border-color    : $color-10;
    background-color: $color-10;
    border-color    : transparent;
    transition      : border-color 0.5s ease-in-out;

    img {
      grid-area: img;
    }

    p {
      grid-area  : p;
      font-size  : $sizeF-16;
      font-weight: 400;
      line-height: $size-20;
      display    : flex;
      align-self : self-end;
      white-space: nowrap;
    }

    h2 {
      grid-area: h2;
      font-size: $sizeF-20;
    }
  }

  div {
    min-height     : calc((100vh - #{$navBarHeight}) - $announcementBarHeight);
    // min-height     : calc(100vh - #{$navBarHeight});
    padding-bottom : $size-60;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    gap            : $size-32;

    &>p {
      @extend .titleStyleShadow;
      font-size  : $sizeF-32;
      line-height: $sizeF-48;
    }

    nav {
      @extend .cards;

      // display: flex;
    }
  }

  a {
    &:nth-of-type(1):hover article {
      border-color: $color-4;
    }

    &:hover:nth-of-type(2) article {
      border-color: $color-8;
    }

    &:hover:nth-of-type(3) article {
      border-color: $color-1;
    }
  }
}

.hero form {
  @extend .withBorder;

  background-color: rgba($color-10, 0.8);
  border-color    : $color-10;
  color           : $color-12;
  display         : flex;
  font-family     : $action-font;
  padding         : $size-24 $size-32;
  width           : fit-content;
  // align-items     : flex-end;

  label {
    @extend .baseGrid;

    input,
    select {
      @extend .inputForm;

      color: inherit;

      // Spécifique au select pour Safari à tester
      &[name="booking-type"] {
        appearance         : none;
        -webkit-appearance : none;
        background-image   : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23333' d='M6 8L1 3h10z'/%3E%3C/svg%3E");
        background-repeat  : no-repeat;
        background-position: right $size-12 center;
        padding-right      : var(--s-40);
        min-height         : calc($size-20 + $size-16 * 2 + 2px);
        line-height        : $sizeF-20;
      }
    }
  }

  button {
    height: $size-60;
  }

  @include aPartir('tablet') {
    align-items     : flex-end;
  }
}

.hero:not(.home) {
  height: 358px;

  h1 {
    text-align: center;
  }
}

.hero.contact {
  @extend .jardin;
}


@include jusque("desktopXl"){
  .hero.home {
    div {
      nav{
        justify-content: space-around;
      }
      h1, & > p {
        padding: 0 fluid(0px, $size-120, $desktopLargeRef);
      }
    }
    article {
      padding: $size-16 $size-24 !important;
    }
  }
  .hero {
    form {
      margin: 0 auto;
    }
    p {
      white-space: unset !important;
    }
  }
}

@include jusque("desktop") {
  .hero.home {
    // article {
    //   padding: $size-16 $size-20;
    // }
    div {
      padding-top: $size-60;

      // h1, & > p {
      //   padding: 0 $size-60;
      // }
    }

  }

  .hero {
    article {
      text-align: center;
      display: flex !important;
      flex-direction: column;
    }

    img {
      width: 50px;
      margin: 0 auto;
    }



    form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: $size-8;
    }
  }
  
  .hero form button {
    grid-column: 1 / 3;
    justify-self: center;
    margin-top: $size-16;
  }
}

@include jusque("tablet"){
  .hero {
    padding: $size-32;

    form {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    button {
      align-self: center;
    }
  }
  .hero.home{
    div nav {
      // display: flex;
      flex-direction: column;
      justify-content: center;

      a {
        display: block;
      }
    }

    form {
      margin: 0 auto;
    }

    article p {
      align-self: center;
    }
  }

  .hero:not(.home) {
    height: initial;
  }
}