@use "../../styles/colors.scss" as *;
@use "../../styles/extendBlock.scss";
@use "../../styles/extendLayout.scss";
@use "../../styles/extendTypo.scss";

.photoGauche{

  @extend .sectionWithCards;
  @extend .sectionBase;

  text-align: left !important;
  display   : grid;
  column-gap: 2rem;
  grid :
    "i h" 1fr
    "i p" auto
    "i n" 1fr
    /auto auto;

  &:has(aside) {
    grid :
      "i h" 1fr
      "i p" auto
      "i n" 1fr
      "a a" auto
      /auto auto;
  }

  h2 {
    grid-area: h;
    align-self: end;
  }

  p {
    grid-area: p;
    @extend .useAlbertMedium;
  }

  nav, & > a {
    grid-area: n;
    align-self: start;
  }

  & > img {
    @extend .refWidth;

    grid-area: i;
  }

  aside {
    grid-area: a;

    h3 {
      text-align: center;
    }

    img {
      display: block;
      margin: 0 auto;
    }
  }
}