@use "../../styles/colors.scss" as *;
@use "../../styles/extendBlock.scss";
@use "../../styles/extendLayout.scss";
@use "../../styles/extendTypo.scss";
@use "../../styles/mixins.scss" as *;
@use "../../styles/sizes.scss" as *;

.photoGauche{

  @extend .sectionWithCards;
  @extend .sectionBase;

  text-align: left !important;
  display   : grid;
  column-gap: $size-32;
  grid :
    "i h" 1fr
    "i p" auto
    "i n" 1fr
    /auto auto;

  &:has(aside) {
    grid :
      "i h" 1fr
      "i p" auto
      "i n" 1fr
      "a a" auto
      /auto auto;
  }

  h2 {
    grid-area: h;
    align-self: end;
  }

  p {
    grid-area: p;
    @extend .useAlbertMedium;
  }

  nav, & > a {
    grid-area: n;
    align-self: start;
  }

  & > img {
    @extend .dw383;

    grid-area: i;
  }

  aside {
    grid-area: a;

    h3 {
      text-align: center;
    }

    img {
      display: block;
      margin: 0 auto;
    }
  }
}

@include jusque("tablet"){
  .photoGauche {
    padding: $size-32 0;
    // gap: $size-32;
    h2, p, nav {
      padding: 0 $size-32;
      width: 100%;
    }
    h2 {
      margin-top: $size-32;
    }
    & > a {
      margin: $size-16 auto;
    }

    article {
      padding: $size-16;
      max-width: calc(100% - ($size-16 * 2));
      margin: 0 auto;
    }
    ul {
      text-align: initial;
    }
  }
  .photoGauche, .photoGauche nav {
    display: flex;
    flex-direction: column;
  }

  .photoGauche h2 {
    align-self: initial;
  }
}