@use "./mixins.scss" as *;
@use "./colors.scss" as *;

.jardin {
  background-position: bottom;
  background-image: url('/assets/images/la-planque-jardin-desktop.webp');

  @include jusque('tablet'){
    // background-size: contain;
    background-image: url('/assets/images/la-planque-jardin-mobile.webp');
  }
}

.laPlanque{
  background-image: url('/assets/images/la-planque-header-desktop.webp');
}

.lesPlanques{
  background-image: url('/assets/images/les-planques-header-desktop.webp');
}


.bgCol4{
  background-color: $color-4;
}

.bgCol13{
  background-color: $color-13;
}