@use "./sizes.scss" as *;

.flexCentered {
  display        : inline-flex !important;
  justify-content: center;
  align-items    : center;
}

.dw383 {
  width: $desktopWidth383px;
}

.block {
  padding: $size-60 $size-120;
}

.baseGrid{
  display     : grid;
  gap         : var(--s-8);
  margin-right: var(--s-24);
}