@use "./fonts.scss" as *;
@use "./sizes.scss" as *;

.useAlbertRegular {
  font-family: $action-font;
  font-weight: 400;
}

.useAlbertMedium {
  font-family: $action-font;
  font-weight: 500;
}

.useAlbertSemi {
  font-family: $action-font;
  font-weight: 600;
  // font-style : SemiBold;
}


.useAlbertMedium20{
  @extend .useAlbertMedium;

  font-size  : $sizeF-20;
  line-height: $sizeF-28;
}