@use "./sizes.scss" as *;
@use "./mixins.scss" as *;

.flexCentered {
  display        : inline-flex !important;
  justify-content: center;
  align-items    : center;
}

.dw383 {
  width: $desktopWidth383px;
  @include jusque("desktop"){
    width: 100%;
  }

  @include jusque("desktopXl"){

  }
}

.block {
  padding: $size-60 $size-120;
  @include jusque("tablet"){
    padding: $size-40 $size-24;
  }

  @include jusque("desktopXl"){

  }
}

.baseGrid{
  display     : grid;
  gap         : $size-8;
  margin-right: $size-24;
}

.flexCol{
  display: flex;
  flex-direction: column;
}