@use "./fonts.scss" as *;

.useAlbertRegular {
  font-family: $action-font;
  font-weight: 400;
}

.useAlbertMedium {
  font-family: $action-font;
  font-weight: 500;
}

.useAlbertSemi {
  font-family: $action-font;
  font-weight: 600;
  font-style : SemiBold;
}


.useAlbertMedium20{
  @extend .useAlbertMedium;

  font-size  : var(--sf-20);
  line-height: var(--sf-28);
}