@font-face {
    font-family: 'Montaga';
    src: url('/assets/fonts/montaga-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: 'Montaga';
//     src: url('/assets/fonts/montaga-medium.ttf') format('truetype');
//     font-weight: 500;
//     font-style: normal;
//     font-display: swap;
// }

@font-face {
    font-family: 'Albert Sans';
    src: url('/assets/fonts/AlbertSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Albert Sans';
    src: url('/assets/fonts/AlbertSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Albert Sans';
    src: url('/assets/fonts/AlbertSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

$action-font : Albert Sans;
$default-font: Arial, sans-serif;
$title-font  : Montaga;