@use "sass:map";
@use "./settings.scss" as *;

$breakpoints: (
  'mobile':    $mobileRef,
  'tablet':    $tabletRef,
  'desktop':   $desktopRef,
  'desktopXl': $desktopLargeRef
);

@mixin aPartir($breakpoint) {
  @media (min-width: map.get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin jusque($breakpoint) {
  @media (max-width: calc(map.get($breakpoints, $breakpoint) - 1px)) {
    @content;
  }
}