@use "sass:map";

$breakpoints: (
  'mobile':    576px,
  'tablet':    768px,
  'desktop':   1024px,
  'desktopXl': 1440px
);

@mixin aPartir($breakpoint) {
  @media (min-width: map.get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin jusque($breakpoint) {
  @media (max-width: calc(map.get($breakpoints, $breakpoint) - 1px)) {
    @content;
  }
}