@use "sass:math";
@use "./mixins.scss" as *;
@use "./settings.scss" as *;

@function fluid($min, $max, $ref) {
  @return clamp($min, calc(#{$max} * 100vw / #{$ref}), $max);
}

// graphical sizes, gap, etc.
$size-8 : 8px;
$size-12 : 12px;
$size-16 : 16px;
$size-20 : 20px;
$size-24 : 24px;
$size-32 : 32px;
$size-40 : 40px;
$size-60 : 60px;
$size-90 : 90px;
$size-120: 120px;

// font and line sizes
// $sizeF-8 : .5rem;
//TODO finir d'enlever les variables inutiles
$sizeF-12: .75rem;
$sizeF-16: 1rem;
$sizeF-18: 1.125rem;
$sizeF-20: 1.25rem;
$sizeF-28: 1.75rem;
$sizeF-32: 2rem;
$sizeF-40: 2.5rem;
$sizeF-48: 3rem;
$sizeF-56: 3.5rem;

// responsive images sizes
$desktopWidth383px: clamp(200px, calc(383px * 100vw / $desktopLargeRef), 383px);


// export for css
:root {
    // --s-8 : #{$size-8};
    // --s-12 : #{$size-12};
    // --s-16 : #{$size-16};
    // --s-20 : #{$size-20};
    // --s-24 : #{$size-24};
    // --s-32 : #{$size-32};
    --s-40 : #{$size-40};
    // --s-60 : #{$size-60};
    --s-90 : #{$size-90};
    --s-120: #{$size-120};

    // --sf-8 : #{$sizeF-8};
    --sf-12: #{$sizeF-12};
    --sf-16: #{$sizeF-16};
    --sf-18: #{$sizeF-18};
    --sf-20: #{$sizeF-20};
    --sf-32: #{$sizeF-32};
    --sf-40: #{$sizeF-40};
    --sf-48: #{$sizeF-48};
    --sf-56: #{$sizeF-56};

  @include jusque('tablet') {

    // --s-8  : #{math.div($size-8, 2)};
    // --s-12 : #{math.div($size-12, 2)};
    // --s-16 : #{math.div($size-16, 2)};
    // --s-20 : #{math.div($size-20, 2)};
    // --s-24 : #{math.div($size-24, 2)};
    // --s-32 : #{math.div($size-32, 2)};
    --s-40 : #{math.div($size-40, 2)};
    // --s-60 : #{math.div($size-60, 2)};
    --s-90 : #{math.div($size-90, 2)};
    --s-120: #{math.div($size-120, 2)};

  // --sf-8 : #{math.div($sizeF-8, 2)};
  // --sf-12: #{math.div($sizeF-12, 2)};
  // --sf-16: #{math.div($sizeF-16, 2)};
  // --sf-18: #{math.div($sizeF-18, 2)};
  // --sf-20: #{math.div($sizeF-20, 2)};
  // --sf-32: #{math.div($sizeF-32, 2)};
  // --sf-40: #{math.div($sizeF-40, 2)};
  // --sf-48: #{math.div($sizeF-48, 2)};
  // --sf-56: #{math.div($sizeF-56, 2)};

  }
}