@use "sass:math";
@use "sass:map";
@use "./mixins.scss" as *;
// @use "./settings.scss" as *;

@function fluid($min, $max, $ref) {
  @return clamp($min, calc(#{$max} * 100vw / #{$ref}), $max);
}

// graphical sizes, gap, etc.
$size-8 : 8px;
$size-12 : 12px;
$size-16 : 16px;
$size-20 : 20px;
$size-24 : 24px;
$size-32 : 32px;
$size-40 : 40px;
$size-60 : 60px;
$size-90 : 90px;
$size-120: 120px;

// font and line sizes
// $sizeF-8 : .5rem;
// $sizeF-12: .75rem;
$sizeF-16: 1rem;
// $sizeF-18: 1.125rem;
$sizeF-20: 1.25rem;
$sizeF-28: 1.75rem;
$sizeF-32: 2rem;
$sizeF-40: 2.5rem;
$sizeF-48: 3rem;
$sizeF-56: 3.5rem;

// export responsive values for css
:root {
    --s-40 : #{$size-40};
    --s-90 : #{$size-90};
    --s-120: #{$size-120};

  @include jusque('desktop') {
    --s-40 : #{math.div($size-40, 2)};
    --s-90 : #{math.div($size-90, 2)};
    --s-120: #{math.div($size-120, 2)};
  }
}