@use "./colors.scss" as *;
@use "./extenders.scss";
@use "./fonts.scss" as *;
@use "./sizes.scss" as *;
@use "../components/card/card.scss";
@use "../components/cta/cta.scss";

* {
  box-sizing: border-box;
  margin    : 0;
  padding   : 0;
}

a {
  color          : inherit;
  text-decoration: none;
}

body {
  min-height           : 100vh;
  background-image     : url("/assets/images/papier.jpg");
  background-repeat    : repeat;
  background-attachment: fixed;;
  max-width            : 100vw;
  overflow-x           : hidden;
  font-family          : $default-font;
}

h1 {
  @extend .titleStyleShadow;
  font-size: 3.5rem;
  font-weight: 400;
}

h2 {
  font-family: $title-font;
  line-height: 3rem;
  font-size  : 2.5rem;
  font-weight: 400;
}

h4 {
  font-family: $title-font;
  font-size:1.5rem;
  color: $color-4;
  font-weight: 400;
}

body > section:not([class*="hero"]){ //TODO vérifier que j'ai des section imbriquer sinon simplifier la condition (dans bloc plus bas)
  padding: $section-spacing-v $section-spacing-h;
}

body > section:not([class*="hero"]),
body > aside:not([role="top-banner"]),
footer {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

section:not([class*="hero"]){
  text-align: center;
  color: $color-12;
  aside {
    @extend .cards;
    padding-top: $padding-xl;
  }

  p + p {
    margin-top: $padding-l;
  }

  h2 + p {
    margin-top: $padding-xl;
  }

  article {
    @extend .card;
  }

  nav {
    padding: $padding-l 0;

    a {
      @extend .cta;
    }
  }

  & > a{
    @extend .cta;

    margin: $padding-l 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  strong {
    display: block;
    // font-weight: 700;
    // font-style: Bold;
    font-weight: bold;
    margin: $padding-l 0;
  }
}
section + aside,
section + section {
  padding-top: $section-spacing-v;
}

aside + section:not([class*="hero"]) {
  margin-top: $padding-xl !important;
}

blockquote {
  font-family       : $title-font;
  font-size         : 1.5rem;
  overflow          : hidden;
  text-overflow     : ellipsis;
  display           : -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  text-align        : left;
}

a {
  cursor: pointer;
}