@use "./colors.scss" as *;
@use "./extendBlock.scss";
@use "./fonts.scss" as *;
@use "./sizes.scss" as *;
@use "../components/card/card.scss";
@use "../components/cta/cta.scss";

:root {
  --bg: url("/assets/images/papier.jpg");
}

* {
  box-sizing: border-box;
  margin    : 0;
  padding   : 0;
}

a {
  color          : inherit;
  text-decoration: none;
}

body {
  min-height           : 100vh;
  background-image     : var(--bg);
  background-repeat    : repeat;
  background-attachment: fixed;;
  max-width            : 100vw;
  overflow-x           : hidden;
  font-family          : $default-font;
}

h1 {
  @extend .titleStyleShadow;
  font-size: 3.5rem;
  font-weight: 400;
}

h2 {
  font-family: $title-font;
  line-height: 3rem;
  font-size  : 2.5rem;
  font-weight: 400;
}

h3 {
  font-family: $title-font;
  font-size: 2rem;
  font-weight: 400;
}


h4 {
  font-family: $title-font;
  font-size:1.5rem;
  color: $color-4;
  font-weight: 400;
}

section:not([class]) {
  @extend .sectionBase;
  @extend .sectionWithCards;
}

body > section:not([class*="hero"]),
body > aside:not([role="top-banner"]),
footer {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

section + aside,
section + section {
  padding-top: $section-spacing-v;
}

aside + section:not([class*="hero"]) {
  margin-top: $padding-xl !important;
}

blockquote {
  font-family       : $title-font;
  font-size         : 1.5rem;
  overflow          : hidden;
  text-overflow     : ellipsis;
  display           : -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  text-align        : left;
}

a {
  cursor: pointer;
}