@charset "UTF-8";
@font-face {
  font-family: "Montaga";
  src: url("/assets/fonts/montaga-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Albert Sans";
  src: url("/assets/fonts/AlbertSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Albert Sans";
  src: url("/assets/fonts/AlbertSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Albert Sans";
  src: url("/assets/fonts/AlbertSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
:root {
  --s-40: 40px;
  --s-90: 90px;
  --s-120: 120px;
}
@media (max-width: 1023px) {
  :root {
    --s-40: 20px;
    --s-90: 45px;
    --s-120: 60px;
  }
}

.withBorder, .contact form label input, .contact form label textarea, .hero.home article, .hero form, button, .cta, .inputForm, footer input, .hero form label input,
.hero form label select, footer form a, .photos4 a, .sectionBase > a, .nav a, .sectionBase nav a, .testimonial > a, .photoGauche > a, section:not([class]) > a, .testimonial nav a, .photoGauche nav a, section:not([class]) nav a, .photoDroite nav a, .card, .sectionWithCards article, .testimonial article, .photos4 article, .photoGauche article, section:not([class]) article {
  border: 2px solid;
  border-radius: 4px;
}

.titleStyleShadow, .hero.home div > p, .mainNav a, .hero > nav a, h1 {
  text-shadow: 0px 0px 4px #29261F;
  font-family: Montaga;
  color: #F4F1EF;
}

.tear, .photos4, .hero {
  position: relative;
  overflow: hidden;
  --tear: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1972 82.5" preserveAspectRatio="none"><path fill="white" d="M1 36.5h17l21.5 4 19-2 20-6.5 26.5-1.5 17-3.5 42.5-1.5L186 22l22.5-2 21.5 8.5 39-5 21.5 5 19-8.5H332l20 7 19-5 25-2 20.5 2h20l20.5-4.5 21 6 21-3.5 19 5.5 22.5-2h23l17 10 25.5-3 21.5 6 10.5 9L700 62l64.5-6 21 6 18.5-2 19-4 25 6 27.5-6 24.5 8.5h20l20.5 7 22.5-7 19.5 2 24.5-2 20 2 20-4.5 22 6.5 62.5-14 47-3 29-9.5 28 1.5L1256 40l21-8 18.5-1.5 30.5 3 40.5-18 19-2 40.5 2 19-4h25l21-5.5 25.5 3 17.5-3 46 7.5 23.5-7.5 19-2 24.5 2 44.5 7.5L1714 6l20 7.5 24.5-2 19 2 48-2h43L1880 1l8 3h21l23.5-3 38.5 1.5v79H1v-45z"/></svg>');
}
.tear::after, .photos4::after, .hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1px;
  right: 0;
  height: var(--s-40);
  background-image: var(--bg);
  z-index: 1;
  mask-image: var(--tear);
  mask-repeat: no-repeat;
  mask-size: 100.5% 103%;
  -webkit-mask-image: var(--tear);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100.5% 103%;
}

.flexCentered, footer aside a:not(:first-of-type), button, .cta, footer form a, .photos4 a, .sectionBase > a, .nav a, .sectionBase nav a, .testimonial > a, .photoGauche > a, section:not([class]) > a, .testimonial nav a, .photoGauche nav a, section:not([class]) nav a, .photoDroite nav a {
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
}

.dw383, .produits img, .photoGauche > img, .hero.home article, .card, .sectionWithCards article, .testimonial article, .photos4 article, .photoGauche article, section:not([class]) article {
  width: clamp(100px, 383px * 100vw / 1440px, 383px);
}
@media (max-width: 767px) {
  .dw383, .produits img, .photoGauche > img, .hero.home article, .card, .sectionWithCards article, .testimonial article, .photos4 article, .photoGauche article, section:not([class]) article {
    width: 100%;
  }
}
.block, .tarifs, .produits, .sectionWithCards, .testimonial, .photos4, .photoGauche, section:not([class]) {
  padding: 60px 120px;
}
@media (max-width: 1439px) {
  .block, .tarifs, .produits, .sectionWithCards, .testimonial, .photos4, .photoGauche, section:not([class]) {
    padding: 60px clamp(40px, 120px * 100vw / 1440px, 120px);
  }
}
@media (max-width: 767px) {
  .block, .tarifs, .produits, .sectionWithCards, .testimonial, .photos4, .photoGauche, section:not([class]) {
    padding: 40px 24px;
  }
}

.baseGrid, .contact form label, .hero form label {
  display: grid;
  gap: 8px;
  margin-right: 24px;
}

.flexCol, .valeurs {
  display: flex;
  flex-direction: column;
}

.useAlbertRegular, footer > nav, footer p {
  font-family: Albert Sans;
  font-weight: 400;
}

.useAlbertMedium, .testimonial p, .valeurs p,
.valeurs ul, .produits p, .photoGauche p, .useAlbertMedium20, .card p, .card li, .sectionWithCards article p, .photos4 article p, section:not([class]) article p, .sectionWithCards article li, .testimonial article li, .photos4 article li, .photoGauche article li, section:not([class]) article li {
  font-family: Albert Sans;
  font-weight: 500;
}

.useAlbertSemi, footer input, button, .cta, footer form a, .photos4 a, .sectionBase > a, .nav a, .sectionBase nav a, .testimonial > a, .photoGauche > a, section:not([class]) > a, .testimonial nav a, .photoGauche nav a, section:not([class]) nav a, .photoDroite nav a {
  font-family: Albert Sans;
  font-weight: 600;
}

.useAlbertMedium20, .card p, .card li, .sectionWithCards article p, .testimonial article p, .photos4 article p, .photoGauche article p, section:not([class]) article p, .sectionWithCards article li, .testimonial article li, .photos4 article li, .photoGauche article li, section:not([class]) article li {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.card, .sectionWithCards article, .testimonial article, .photos4 article, .photoGauche article, section:not([class]) article {
  border-color: #FFFFFF;
  background-color: #FFFFFF;
  padding: 32px 32px;
}
.card h3, .sectionWithCards article h3, .testimonial article h3, .photos4 article h3, .photoGauche article h3, section:not([class]) article h3 {
  color: #BC8F35;
}
.card ul, .sectionWithCards article ul, .testimonial article ul, .photos4 article ul, .photoGauche article ul, section:not([class]) article ul {
  padding-inline-start: 16px;
}
.card:has(ul) h3, .sectionWithCards article:has(ul) h3, .testimonial article:has(ul) h3, .photos4 article:has(ul) h3, .photoGauche article:has(ul) h3, section:not([class]) article:has(ul) h3 {
  margin: 16px 0;
}

.cards, .hero.home div nav, .sectionWithCards aside, .sectionBase aside, .testimonial aside, .photos4 aside, .photoGauche aside, section:not([class]) aside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .card, .sectionWithCards article, .testimonial article, .photos4 article, .photoGauche article, section:not([class]) article {
    text-align: center;
  }
  .cards, .hero.home div nav, .sectionWithCards aside, .sectionBase aside, .testimonial aside, .photos4 aside, .photoGauche aside, section:not([class]) aside {
    flex-direction: column;
    gap: 32px;
  }
  .cards aside, .hero.home div nav aside, .sectionWithCards aside aside, .sectionBase aside aside, .testimonial aside aside, .photos4 aside aside, .photoGauche aside aside, section:not([class]) aside aside {
    display: flex;
    flex-direction: column;
  }
}
button, .cta, footer form a, .photos4 a, .sectionBase > a, .nav a, .sectionBase nav a, .testimonial > a, .photoGauche > a, section:not([class]) > a, .testimonial nav a, .photoGauche nav a, section:not([class]) nav a, .photoDroite nav a {
  padding: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  gap: 8px;
  white-space: nowrap;
  width: fit-content;
  font-size: var(--sf-18);
  line-height: 100%;
  letter-spacing: 0%;
  /* Bouton primaire (rempli) */
  background-color: #AD3C05;
  color: #FFFFFF;
  border-color: #AD3C05;
}
button:hover:not(:disabled), .cta:hover:not(:disabled), footer form a:hover:not(:disabled), .photos4 a:hover:not(:disabled), .sectionBase > a:hover:not(:disabled), .nav a:hover:not(:disabled), .sectionBase nav a:hover:not(:disabled), .testimonial > a:hover:not(:disabled), .photoGauche > a:hover:not(:disabled), section:not([class]) > a:hover:not(:disabled), .testimonial nav a:hover:not(:disabled), .photoGauche nav a:hover:not(:disabled), section:not([class]) nav a:hover:not(:disabled), .photoDroite nav a:hover:not(:disabled) {
  background-color: rgb(205.8606741573, 70.9861958266, 5.3393258427);
  border-color: rgb(205.8606741573, 70.9861958266, 5.3393258427);
}
button:disabled, .cta:disabled, footer form a:disabled, .photos4 a:disabled, .sectionBase > a:disabled, .nav a:disabled, .sectionBase nav a:disabled, .testimonial > a:disabled, .photoGauche > a:disabled, section:not([class]) > a:disabled, .testimonial nav a:disabled, .photoGauche nav a:disabled, section:not([class]) nav a:disabled, .photoDroite nav a:disabled {
  color: #CE8C8D;
  border: 1px solid;
  cursor: not-allowed;
}
button, .cta, footer form a, .photos4 a, .sectionBase > a, .nav a, .sectionBase nav a, .testimonial > a, .photoGauche > a, section:not([class]) > a, .testimonial nav a, .photoGauche nav a, section:not([class]) nav a, .photoDroite nav a {
  --email: url('/assets/icons/email.svg') no-repeat center;
  /* Différentes icônes selon l'attribut */
}
button[data-icon="1"]::before, .cta[data-icon="1"]::before, footer form a[data-icon="1"]::before, .photos4 a[data-icon="1"]::before, .sectionBase > a[data-icon="1"]::before, .nav a[data-icon="1"]::before, .sectionBase nav a[data-icon="1"]::before, .testimonial > a[data-icon="1"]::before, .photoGauche > a[data-icon="1"]::before, section:not([class]) > a[data-icon="1"]::before, .testimonial nav a[data-icon="1"]::before, .photoGauche nav a[data-icon="1"]::before, section:not([class]) nav a[data-icon="1"]::before, .photoDroite nav a[data-icon="1"]::before {
  -webkit-mask: var(--email);
  mask: var(--email);
}
.cta-small {
  padding: 12px;
}

.cta-secondary, .photos4 a, button:not(:first-of-type):not(:disabled):not(.cta-small), .cta:not(:first-of-type):not(:disabled):not(.cta-small), footer form a:not(:first-of-type):not(:disabled):not(.cta-small), .photos4 a:not(:first-of-type):not(:disabled):not(.cta-small), .sectionBase > a:not(:first-of-type):not(:disabled):not(.cta-small), .nav a:not(:first-of-type):not(:disabled):not(.cta-small), .sectionBase nav a:not(:first-of-type):not(:disabled):not(.cta-small), .testimonial > a:not(:first-of-type):not(:disabled):not(.cta-small), .photoGauche > a:not(:first-of-type):not(:disabled):not(.cta-small), section:not([class]) > a:not(:first-of-type):not(:disabled):not(.cta-small), .testimonial nav a:not(:first-of-type):not(:disabled):not(.cta-small), .photoGauche nav a:not(:first-of-type):not(:disabled):not(.cta-small), section:not([class]) nav a:not(:first-of-type):not(:disabled):not(.cta-small), .photoDroite nav a:not(:first-of-type):not(:disabled):not(.cta-small) {
  background-color: transparent;
  color: #AD3C05;
}
.cta-secondary:hover, .photos4 a:hover, button:hover:not(:first-of-type):not(:disabled):not(.cta-small), .cta:hover:not(:first-of-type):not(:disabled):not(.cta-small), footer form a:hover:not(:first-of-type):not(:disabled):not(.cta-small), .photos4 a:hover:not(:first-of-type):not(:disabled):not(.cta-small), .sectionBase > a:hover:not(:first-of-type):not(:disabled):not(.cta-small), .nav a:hover:not(:first-of-type):not(:disabled):not(.cta-small), .sectionBase nav a:hover:not(:first-of-type):not(:disabled):not(.cta-small), .testimonial > a:hover:not(:first-of-type):not(:disabled):not(.cta-small), .photoGauche > a:hover:not(:first-of-type):not(:disabled):not(.cta-small), section:not([class]) > a:hover:not(:first-of-type):not(:disabled):not(.cta-small), .testimonial nav a:hover:not(:first-of-type):not(:disabled):not(.cta-small), .photoGauche nav a:hover:not(:first-of-type):not(:disabled):not(.cta-small), section:not([class]) nav a:hover:not(:first-of-type):not(:disabled):not(.cta-small), .photoDroite nav a:hover:not(:first-of-type):not(:disabled):not(.cta-small) {
  background-color: rgb(246.09, 242.202, 239.61);
}

.cta-hover-mustard:hover, footer form a:hover, .photos4 a:hover {
  color: #F4F1EF !important;
  border-color: #F4F1EF !important;
}

@media (max-width: 767px) {
  .cta, footer form a, .photos4 a, .sectionBase > a, .nav a, .sectionBase nav a, .testimonial > a, .photoGauche > a, section:not([class]) > a, .testimonial nav a, .photoGauche nav a, section:not([class]) nav a, .photoDroite nav a {
    width: initial;
  }
}
.inputForm, footer input, .hero form label input,
.hero form label select {
  background-color: #F4F1EF;
  border-color: #B2B1AE;
  border-style: solid;
  color: #B2B1AE;
  font-size: 1.25rem;
  padding: 16px;
}
.inputForm:focus-visible, footer input:focus-visible, .hero form label input:focus-visible,
.hero form label select:focus-visible {
  outline: #B2B1AE auto 1px;
}

.sectionWithCards nav, .testimonial nav, .photos4 nav, .photoGauche nav, section:not([class]) nav {
  display: flex;
  gap: 16px;
}

.sectionBase, .testimonial, .photoGauche, section:not([class]) {
  text-align: center;
  color: #29261F;
}
.sectionBase aside, .testimonial aside, .photoGauche aside, section:not([class]) aside {
  padding-top: 32px;
}
.sectionBase p + p, .testimonial p + p, .photoGauche p + p, section:not([class]) p + p {
  margin-top: 24px;
}
.sectionBase h2 + p, .testimonial h2 + p, .photoGauche h2 + p, section:not([class]) h2 + p {
  margin-top: 32px;
}
.sectionBase > a, .testimonial > a, .photoGauche > a, section:not([class]) > a {
  margin: 24px 0;
}
.sectionBase > *:last-child, .testimonial > *:last-child, .photoGauche > *:last-child, section:not([class]) > *:last-child {
  margin-bottom: 0;
}
.sectionBase strong, .testimonial strong, .photoGauche strong, section:not([class]) strong {
  display: block;
  font-weight: bold;
  margin: 24px 0;
}
.sectionBase nav:has(+ aside), .testimonial nav:has(+ aside), .photoGauche nav:has(+ aside), section:not([class]) nav:has(+ aside) {
  justify-content: center;
}

.nav, .photoDroite nav, .sectionBase nav, .testimonial nav, .photoGauche nav, section:not([class]) nav {
  padding: 24px 0;
}
@media (max-width: 767px) {
  .sectionWithCards, .testimonial, .photos4, .photoGauche, section:not([class]) {
    flex-direction: column;
  }
  .sectionWithCards nav, .testimonial nav, .photos4 nav, .photoGauche nav, section:not([class]) nav {
    flex-direction: column;
  }
  .sectionBase, .testimonial, .photoGauche, section:not([class]) {
    text-align: initial;
  }
}
:root {
  --bg: url("/assets/images/papier.jpg");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  min-height: 100vh;
  background-image: var(--bg);
  background-repeat: repeat;
  background-attachment: fixed;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 3.5rem;
  font-weight: 400;
}

h2 {
  font-family: Montaga;
  line-height: 3rem;
  font-size: 2.5rem;
  font-weight: 400;
}

h3 {
  font-family: Montaga;
  font-size: 2rem;
  font-weight: 400;
}

h4 {
  font-family: Montaga;
  font-size: 1.25rem;
  color: #AD3C05;
  font-weight: 400;
}

body > section:not([class*=hero]),
body > aside:not([role=top-banner]),
footer {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

section + aside,
section + section {
  padding-top: 60px;
}

aside + section:not([class*=hero]) {
  margin-top: 32px !important;
}

blockquote {
  font-family: Montaga;
  font-size: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  text-align: left;
}

a {
  cursor: pointer;
}

@keyframes underlineGrow {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}
.jardin, .hero.home, .hero.contact {
  background-position: bottom;
  background-image: url("/assets/images/la-planque-jardin-desktop.webp");
}
@media (max-width: 767px) {
  .jardin, .hero.home, .hero.contact {
    background-image: url("/assets/images/la-planque-jardin-mobile.webp");
  }
}

.laPlanque {
  background-image: url("/assets/images/la-planque-header-desktop.webp");
}

.lesPlanques {
  background-image: url("/assets/images/les-planques-header-desktop.webp");
}

.bgCol4 {
  background-color: #AD3C05;
}

.bgCol13, .valeurs section {
  background-color: #FFFFFF;
}

[role=top-banner] {
  background-color: #BC8F35;
  color: #FFFFFF;
  padding: 8px;
  min-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
[role=top-banner] a {
  text-decoration: underline;
  margin: 0 8px;
}
@media (max-width: 767px) {
  [role=top-banner] {
    flex-direction: column;
  }
}

logo {
  --img: url('/assets/icons/logo.svg') no-repeat center / contain;
  display: block;
  mask: var(--img);
  -webkit-mask: var(--img);
}
logo.light {
  background-color: #FFFFFF;
  width: 151px;
  height: 148px;
}
logo.dark {
  background-color: #29261F;
  width: 179px;
  height: 178px;
}
logo.big {
  width: 80%;
  height: 80%;
  align-self: center;
}

.mainNav, .hero > nav {
  width: 100%;
}
.mainNav ul, .hero > nav ul {
  width: 100%;
  height: 196px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: 16px;
  list-style: none;
  filter: drop-shadow(0px 0px 4px #29261F);
}
.mainNav a, .hero > nav a {
  font-size: 1.25rem;
  text-decoration: none;
}
.mainNav a::after, .hero > nav a::after {
  bottom: -3px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: relative;
  width: 50%;
}
.mainNav a:hover, .hero > nav a:hover {
  color: rgb(228.27, 185.8876056338, 94.53);
}
.mainNav a[href="#"], .hero > nav a[href="#"] {
  color: rgb(228.27, 185.8876056338, 94.53);
}
.mainNav logo, .hero > nav logo {
  --size: calc(.8 * 196px);
  width: var(--size);
  height: var(--size);
  align-self: center;
}

.underline-short::after, .mainNav a:hover::after, .hero > nav a:hover::after, .mainNav a[href="#"]::after, .hero > nav a[href="#"]::after {
  animation: underlineGrow 0.5s ease forwards;
  background: rgb(228.27, 185.8876056338, 94.53);
  transform: translateX(-50%);
}

@media (max-width: 1023px) {
  .mainNav::after, .hero > nav::after {
    content: "";
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1001;
    background-image: linear-gradient(#333, #333), linear-gradient(#333, #333), linear-gradient(#333, #333);
    background-size: 24px 3px;
    background-position: center calc(50% - 8px), center, center calc(50% + 8px);
    background-repeat: no-repeat;
    transition: all 0.3s ease;
  }
  .mainNav::before, .hero > nav::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
    z-index: 998;
  }
  .mainNav ul, .hero > nav ul {
    gap: 2rem;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #AD3C05;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.4s ease;
    z-index: 999;
  }
  .mainNav a, .hero > nav a {
    color: #AD3C05;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  .mainNav a:hover, .hero > nav a:hover {
    color: #666;
  }
}
@media (max-width: 1023px) and (max-width: 768px) {
  .mainNav a, .hero > nav a {
    color: white;
    font-size: 1.5rem;
  }
  .mainNav a:hover, .hero > nav a:hover {
    color: #ccc;
  }
}
@media (max-width: 1023px) {
  .mainNav.is-open::before, .hero > nav.is-open::before {
    opacity: 1;
    pointer-events: auto;
  }
  .mainNav.is-open::after, .hero > nav.is-open::after {
    background-image: linear-gradient(45deg, transparent 35%, #AD3C05 35%, #AD3C05 65%, transparent 65%), linear-gradient(-45deg, transparent 35%, #AD3C05 35%, #AD3C05 65%, transparent 65%);
    background-size: 100% 100%;
    background-position: center;
  }
  .mainNav.is-open ul, .hero > nav.is-open ul {
    transform: translateX(0);
  }
}
.hero {
  position: relative;
  padding: 0 calc((100vw - 1440px) / 2 + 120px);
  background-size: cover;
  background-position: center;
}
.hero.home article {
  display: grid;
  gap: 0 21px;
  grid: "img p" "img h2"/73px 1fr;
  padding: 24px 32px !important;
  border-color: #F4F1EF;
  background-color: #F4F1EF;
  border-color: transparent;
  transition: border-color 0.5s ease-in-out;
}
.hero.home article img {
  grid-area: img;
}
.hero.home article p {
  grid-area: p;
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  align-self: self-end;
  white-space: nowrap;
}
.hero.home article h2 {
  grid-area: h2;
  font-size: 1.25rem;
}
.hero.home div {
  min-height: calc(100vh - 196px - 28px);
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}
.hero.home div > p {
  font-size: 2rem;
  line-height: 3rem;
}
.hero.home a:nth-of-type(1):hover article {
  border-color: #AD3C05;
}
.hero.home a:hover:nth-of-type(2) article {
  border-color: #BC8F35;
}
.hero.home a:hover:nth-of-type(3) article {
  border-color: #1F4839;
}

.hero form {
  background-color: rgba(244, 241, 239, 0.8);
  border-color: #F4F1EF;
  color: #29261F;
  display: flex;
  font-family: Albert Sans;
  padding: 24px 32px;
  width: fit-content;
}
.hero form label input,
.hero form label select {
  color: inherit;
}
.hero form label input[name=booking-type],
.hero form label select[name=booking-type] {
  appearance: none;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23333' d='M6 8L1 3h10z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  padding-right: var(--s-40);
  min-height: 54px;
  line-height: 1.25rem;
}
.hero form button {
  height: 60px;
}
@media (min-width: 768px) {
  .hero form {
    align-items: flex-end;
  }
}

.hero:not(.home) {
  height: 358px;
}
.hero:not(.home) h1 {
  text-align: center;
}

@media (max-width: 1439px) {
  .hero.home div nav {
    justify-content: space-around;
  }
  .hero.home div h1, .hero.home div > p {
    padding: 0 clamp(0px, 120px * 100vw / 1440px, 120px);
  }
  .hero.home article {
    padding: 16px 24px !important;
  }
  .hero form {
    margin: 0 auto;
  }
  .hero p {
    white-space: unset !important;
  }
}
@media (max-width: 1023px) {
  .hero.home div {
    padding-top: 60px;
  }
  .hero.home article p {
    align-self: center;
  }
  .hero article {
    text-align: center;
    display: flex !important;
    flex-direction: column;
  }
  .hero img {
    width: 50px;
    margin: 0 auto;
  }
  .hero form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }
  .hero form button {
    grid-column: 1/3;
    justify-self: center;
    margin-top: 16px;
  }
}
@media (max-width: 767px) {
  .hero {
    padding: 32px;
  }
  .hero form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .hero button {
    align-self: center;
  }
  .hero.home div nav {
    flex-direction: column;
    justify-content: center;
  }
  .hero.home div nav a {
    display: block;
  }
  .hero.home form {
    margin: 0 auto;
  }
  .hero.home article p {
    align-self: center;
  }
  .hero:not(.home) {
    height: initial;
  }
}
.photoGauche {
  text-align: left !important;
  display: grid;
  column-gap: 32px;
  grid: "i h" 1fr "i p" auto "i n" 1fr/auto auto;
}
.photoGauche:has(aside) {
  grid: "i h" 1fr "i p" auto "i n" 1fr "a a" auto/auto auto;
}
.photoGauche h2 {
  grid-area: h;
  align-self: end;
}
.photoGauche p {
  grid-area: p;
}
.photoGauche nav, .photoGauche > a {
  grid-area: n;
  align-self: start;
}
.photoGauche > img {
  grid-area: i;
}
.photoGauche aside {
  grid-area: a;
}
.photoGauche aside h3 {
  text-align: center;
}
.photoGauche aside img {
  display: block;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .photoGauche {
    padding: 32px 0;
  }
  .photoGauche h2, .photoGauche p, .photoGauche nav {
    padding: 0 32px;
    width: 100%;
  }
  .photoGauche h2 {
    margin-top: 32px;
  }
  .photoGauche > a {
    margin: 16px auto;
  }
  .photoGauche article {
    padding: 16px;
    max-width: calc(100% - 32px);
    margin: 0 auto;
  }
  .photoGauche ul {
    text-align: initial;
  }
  .photoGauche, .photoGauche nav {
    display: flex;
    flex-direction: column;
  }
  .photoGauche h2 {
    align-self: initial;
  }
}
.photoDroite {
  display: grid;
  grid: "h i" "p i"/1fr 1fr;
  padding-bottom: 60px;
}
.photoDroite[class*=bgCol4] p,
.photoDroite[class*=bgCol4] h2, .photoDroite[class*=bgCol4] li {
  color: #FFFFFF;
}
.photoDroite[class*=tear] {
  padding: 0;
}
.photoDroite:has(nav) {
  grid: "h i" 1fr "p i" 1fr "n i" 1fr/1fr 1fr;
}
.photoDroite:has(nav) p {
  padding-bottom: 0 !important;
}
.photoDroite:has(ul) {
  grid: "h i" auto "p i" auto "n i" auto/1fr 1fr;
}
.photoDroite:has(ul) h2 {
  margin-top: 60px;
}
.photoDroite p,
.photoDroite h2,
.photoDroite nav,
.photoDroite ul {
  padding: 0 60px 32px 120px;
}
.photoDroite img,
.photoDroite logo {
  grid-area: i;
}
.photoDroite p {
  grid-area: p;
  align-self: self-start;
}
.photoDroite h2 {
  grid-area: h;
  align-self: self-end;
}
.photoDroite nav, .photoDroite ul {
  grid-area: n;
}
.photoDroite ul {
  margin-bottom: 60px;
  padding-left: calc(120px + 1.25rem);
}
.photoDroite logo {
  margin-top: -32px;
}

@media (max-width: 1439px) {
  .photoDroite {
    padding: 60px clamp(40px, 120px * 100vw / 1440px, 120px);
    grid-template-columns: clamp(60%, 540px * 100vw / 1440px, 540px) auto;
  }
  .photoDroite img {
    width: 100%;
    align-self: center;
  }
  .photoDroite nav {
    display: inline-flex;
    gap: 16px;
  }
  .photoDroite:not(.tear) h2, .photoDroite:not(.tear) p, .photoDroite:not(.tear) nav {
    padding: 0;
    align-self: center;
  }
  .photoDroite.tear {
    padding-bottom: 16px;
  }
}
@media (max-width: 767px) {
  .photoDroite {
    padding: 32px 0 !important;
    gap: 32px;
    grid: "h" "i" "p";
  }
  .photoDroite:not(:has(nav)) p {
    margin-bottom: 40px;
  }
  .photoDroite:has(nav), .photoDroite:has(ul) {
    grid: "h" "i" "p" "n";
  }
  .photoDroite:has(nav) h2, .photoDroite:has(ul) h2 {
    margin-top: 0;
  }
  .photoDroite:has(nav) p, .photoDroite:has(ul) p {
    margin-bottom: 0;
  }
  .photoDroite img {
    width: 100vw;
  }
  .photoDroite h2, .photoDroite p, .photoDroite ul {
    text-align: initial;
    padding: 0 32px;
  }
  .photoDroite logo {
    height: 180px;
    margin: 0 auto;
  }
  .photoDroite nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 32px;
  }
}
.photos4 {
  position: relative;
  background-color: #DEB150;
  display: flex;
  gap: 16px;
  text-align: left !important;
  margin-bottom: 60px;
  padding-bottom: var(--s-90) !important;
}
.photos4 hgroup {
  max-width: 50%;
  align-self: center;
}
.photos4 aside {
  padding: 0 !important;
  max-width: 50%;
  display: grid !important;
  gap: 24px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.photos4 img {
  width: 285px;
  border-radius: 4px 4px 0 0;
}
.photos4 u {
  display: block;
  font-family: Albert Sans;
  font-size: 1rem;
}
.photos4 figure {
  background-color: #FFFFFF;
  border-radius: 4px;
}
.photos4 figcaption {
  font-family: Montaga;
  font-size: 1.25rem;
  padding: 12px;
}
.photos4 p {
  margin-bottom: 1rem;
}

@media (max-width: 1439px) {
  .photos4 {
    padding-top: 60px;
    flex-direction: column;
  }
  .photos4 hgroup {
    max-width: unset;
  }
  .photos4 h2 {
    margin-bottom: 32px;
  }
  .photos4 aside {
    max-width: unset;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
  .photos4 img {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .photos4 {
    gap: 32px;
  }
  .photos4 aside {
    display: flex !important;
    flex-direction: column;
  }
}
.contact form {
  color: #29261F;
  display: grid;
  grid: "n p" "s s" "m m" "b b";
  font-family: Albert Sans;
  padding: 24px 32px;
  width: fit-content;
  align-items: flex-end;
  text-align: left;
  width: 100%;
  row-gap: 32px;
}
.contact form label:nth-of-type(1) {
  grid-area: n;
}
.contact form label:nth-of-type(2) {
  grid-area: p;
}
.contact form label:nth-of-type(3) {
  grid-area: s;
}
.contact form label:nth-of-type(4) {
  grid-area: m;
}
.contact form label input, .contact form label textarea {
  background-color: #FFFFFF;
  border-color: #B2B1AE;
  border-style: solid;
  color: #B2B1AE;
  font-size: 1.25rem;
  padding: 16px;
  font-family: Albert Sans;
}
.contact form label input:focus-visible, .contact form label textarea:focus-visible {
  outline: #B2B1AE auto 1px;
}
.contact form button {
  height: 60px;
  margin-top: 32px;
  grid-area: b;
  justify-self: center;
}

@media (max-width: 767px) {
  .contact {
    padding-top: 32px;
  }
  .contact form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: unset;
  }
  .contact label {
    margin: 0 !important;
  }
  .contact input, .contact textarea {
    width: 100%;
    padding: 0;
  }
  .contact button {
    margin: 0 auto;
  }
}
.produits {
  display: grid;
  grid: "h h h" "a1 a2 a3" "a4 a5 .";
  width: 100%;
  gap: 24px;
}
.produits h2 {
  grid-area: h;
}
.produits h3 {
  margin: 24px 0;
}
.produits article:nth-of-type(1) {
  grid-area: a1;
}
.produits article:nth-of-type(2) {
  grid-area: a2;
}
.produits article:nth-of-type(3) {
  grid-area: a3;
}
.produits article:nth-of-type(4) {
  grid-area: a4;
}
.produits article:nth-of-type(5) {
  grid-area: a5;
}
.produits p {
  text-align: initial;
}

@media (max-width: 1023px) {
  .produits {
    --artSize: cal( (100% - 24px) / 2);
    grid: "h h" "a1 a2" "a3 a4" "a5 a5"/1fr 1fr;
  }
  .produits article {
    justify-self: center;
  }
  .produits article:last-of-type {
    max-width: 50%;
  }
  .produits img {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .produits {
    display: flex;
    flex-direction: column;
  }
  .produits article:last-of-type {
    max-width: 100% !important;
  }
}
footer {
  position: relative;
  display: grid;
  grid: "logo propos decouvrir form" "hr hr hr hr" "cp cp legal legal";
  padding: 60px 120px 0 120px;
}
footer::after {
  content: "";
  background-image: url(/assets/icons/herbes.svg);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  top: -153px;
  bottom: auto;
  left: auto;
  width: 362px;
  height: 500px;
  background-size: contain;
  z-index: 0;
}
footer hr {
  grid-area: hr;
}
footer aside {
  grid-area: logo;
  display: grid;
  grid: "l l" "a1 a2";
  width: 178px;
  margin-bottom: 16px;
  gap: 16px;
}
footer aside a:not(:first-of-type) {
  background-color: #F4F1EF;
  padding: 16px;
  border-radius: 50%;
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 3px solid transparent;
  transition: border-color 0.3s ease-in-out;
}
footer aside a:not(:first-of-type):hover {
  border-color: #AD3C05;
}
footer aside a:not(:first-of-type):nth-of-type(2) {
  grid-area: a1;
  justify-self: end;
}
footer aside a:not(:first-of-type):last-of-type {
  grid-area: a2;
  justify-self: start;
}
footer aside a:first-of-type {
  grid-area: l;
}
footer nav a:hover {
  color: #AD3C05;
}
footer > nav:first-of-type {
  grid-area: propos;
}
footer > nav:nth-of-type(2) {
  grid-area: decouvrir;
}
footer > nav:last-of-type {
  grid-area: legal;
  font-weight: bold;
  font-size: 1rem;
  justify-self: end;
  margin-bottom: 16px;
  z-index: 1;
}
footer > nav:last-of-type li {
  display: inline-flex;
  margin: 0 8px;
}
footer form {
  grid-area: form;
  display: grid;
  grid: "h h" 32px "p p" 32px "i b" 48px "n n" 67px/auto 56px;
  column-gap: 12px;
  z-index: 1;
}
footer form h4 {
  grid-area: h;
}
footer form p {
  grid-area: p;
}
footer form nav {
  grid-area: n;
  margin-top: 24px;
  display: flex;
  gap: 16px;
  width: 100%;
}
footer form a {
  width: 100%;
  text-align: center;
  justify-content: center;
}
footer form button {
  grid-area: b;
  margin-left: 4px;
}
footer form label {
  display: none;
  grid-area: i;
}
footer > p {
  grid-area: cp;
  font-weight: bold;
  font-size: 1rem;
}
footer li {
  list-style-type: none;
  margin-top: 20px;
}
footer input {
  font-size: 1rem;
}

@media (max-width: 1439px) {
  footer {
    --paddingLR: clamp(0px, 90px * 100vw / 1440px, 90px);
    padding: 60px var(--paddingLR) 0 var(--paddingLR);
    grid-template-columns: 187px auto auto auto;
  }
}
@media (max-width: 1023px) {
  footer {
    padding: 16px;
    row-gap: 12px;
    grid: "logo" "form" "propos" "decouvrir" "hr" "legal" "cp";
  }
  footer aside {
    margin: 0 auto;
  }
  footer nav {
    display: block;
  }
  footer form {
    width: 100%;
    row-gap: 12px;
  }
  footer > p:last-of-type {
    text-align: center;
  }
}
.triptyque {
  display: grid;
  --imageMainTriptyque: clamp(200px, 640px * 100vw / 1440px, 640px);
  --imageSmallTriptyque: clamp(200px, 360px * 100vw / 1440px, 360px);
  --spaceImageTriptyque: clamp(5px, 40px * 100vw / 1440px, 40px);
  grid: ". iC ." "iG iC iD" ". iC ."/var(--imageSmallTriptyque) var(--imageMainTriptyque) var(--imageSmallTriptyque);
}
.triptyque img {
  box-shadow: 0px 0px 4px #29261F;
}
.triptyque {
  column-gap: var(--spaceImageTriptyque);
}
.triptyque img {
  border-radius: 4px;
}
.triptyque img:first-of-type {
  grid-area: iG;
  width: var(--imageSmallTriptyque);
}
.triptyque img:nth-of-type(2) {
  grid-area: iC;
  width: var(--imageMainTriptyque);
}
.triptyque img:nth-of-type(3) {
  grid-area: iD;
  width: var(--imageSmallTriptyque);
}

@media (max-width: 1023px) {
  .triptyque {
    --imageMainTriptyque: clamp(250px, 455px * 100vw / 1024px, 455px);
    --imageSmallTriptyque: calc((100% - var(--imageMainTriptyque)) / 2);
    --spaceImageTriptyque: 0;
    display: flex;
    padding: 32px 0 0 0;
  }
  .triptyque img {
    box-shadow: initial;
    border-radius: 0;
  }
}
@media (max-width: 767px) {
  .triptyque {
    grid: "iC iC" "iG iD";
    --imageMainTriptyque: 100vw;
    --imageSmallTriptyque: calc(var(--imageMainTriptyque) / 2);
    display: grid;
    width: var(--imageMainTriptyque);
  }
}
.valeurs {
  gap: 32px;
  margin: 0 auto;
  max-width: 1200px;
  padding: 32px 0 16px 0;
}
.valeurs section {
  display: block;
  column-count: 2;
  column-gap: 3rem;
  column-fill: auto;
}
@media (min-width: 1440px) {
  .valeurs section {
    max-height: 415px;
  }
}
.valeurs h2 {
  text-align: center;
  width: 100%;
  margin-bottom: 32px;
  color: #AD3C05;
  column-span: all;
  padding-top: 60px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 40px;
}
.valeurs section:first-of-type h2 {
  background-image: url(/assets/icons/kern.svg);
}
.valeurs section:last-of-type h2 {
  background-image: url(/assets/icons/3epis.svg);
}
.valeurs p,
.valeurs ul {
  text-align: initial;
  break-inside: avoid;
}
.valeurs p {
  margin-top: 0 !important;
}
.valeurs ul {
  padding-left: 20px;
}

@media (max-width: 767px) {
  .valeurs section {
    column-count: initial;
    column-gap: 2rem;
    column-fill: initial;
  }
}
.tarifs {
  display: grid;
  grid: "h h" "t1 r" "t2 r" "a a"/60% 40%;
  gap: 24px;
}
.tarifs > * {
  text-align: initial;
}
.tarifs h2 {
  grid-area: h;
}
.tarifs p {
  font-family: Montaga;
  font-size: 1.25rem;
  font-weight: 400;
}
.tarifs span {
  display: block;
}
.tarifs article, .tarifs aside {
  background-color: #FFFFFF;
  padding: 32px;
}
.tarifs article::before {
  top: 32px;
  left: 0;
}
.tarifs aside p:first-of-type::before {
  top: 0;
  left: -32px;
}
.tarifs article:first-of-type {
  grid-area: t1;
}
.tarifs article:last-of-type {
  grid-area: t2;
}
.tarifs aside {
  grid-area: r;
  flex-direction: column !important;
}
.tarifs a {
  grid-area: a;
  color: #AD3C05;
  text-decoration: underline;
}

.arrow, .tarifs article, .tarifs aside p:first-of-type {
  position: relative;
  width: 100%;
}
.arrow::before, .tarifs article::before, .tarifs aside p:first-of-type::before {
  content: "";
  background-image: url(/assets/icons/arrow.svg);
  background-size: cover;
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
}

@media (max-width: 767px) {
  .tarifs {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
.testimonial {
  display: grid;
  grid: "h h h" "t1 t2 t3" "t4 t5 t6";
  width: 100%;
  row-gap: 24px;
}
.testimonial h2 {
  grid-area: h;
  text-align: left;
}
.testimonial article:nth-of-type(1) {
  grid-area: t1;
}
.testimonial article:nth-of-type(2) {
  grid-area: t2;
}
.testimonial article:nth-of-type(3) {
  grid-area: t3;
}
.testimonial article:nth-of-type(4) {
  grid-area: t4;
}
.testimonial article:nth-of-type(5) {
  grid-area: t5;
}
.testimonial article:nth-of-type(6) {
  grid-area: t6;
}
.testimonial p {
  text-align: left;
  color: #AD3C05;
}

@media (max-width: 767px) {
  .testimonial {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .testimonial article {
    width: 100%;
  }
}
