// @use "../../styles/extendSurface.scss";
@use "../../styles/colors.scss" as *;
@use "../../styles/extendBlock.scss";
@use "../../styles/mixins.scss" as *;
@use "../../styles/sizes.scss" as *;

.photoDroite {

  display: grid;
  grid:
    "h i"
    "p i"
    /1fr 1fr;
  padding-bottom: $size-60;

  &[class*="bgCol4"] {
    p,
    h2, li {
      color: $color-13;
    }
  }

  &[class*="tear"] {
    padding: 0;
  }

  &:has(nav) {
    grid:
      "h i" 1fr
      "p i" 1fr
      "n i" 1fr
      /1fr 1fr;

    p {
      padding-bottom: 0 !important;
    }
  }

  &:has(ul) {
    grid:
      "h i" auto
      "p i" auto
      "n i" auto
      /1fr 1fr;

    h2 {
      margin-top: $size-60;
    }
  }

  p,
  h2,
  nav,
  ul{
    padding: 0 $size-60 $size-32 $size-120;
  }

  img,
  logo {
    grid-area: i;
  }

  p {
    grid-area : p;
    align-self: self-start;
  }

  h2 {
    grid-area : h;
    align-self: self-end;
  }

  nav {
    @extend .nav;
  }

  nav, ul {
    grid-area: n;
  }
  ul {
    margin-bottom: $size-60;
    padding-left: calc($size-120 + $sizeF-20);
  }

  logo{
    margin-top: -$size-32;
  }
}



@include jusque("tablet") {
  .photoDroite {

    padding-top: $size-32 !important;
    gap: $size-32;
    grid:
      "h"
      "i"
      "p";

    &:not(:has(nav)){
      p {
        margin-bottom: $size-40;
      }
    }

    &:has(nav), &:has(ul) {
      grid:
        "h"
        "i"
        "p"
        "n";

      h2{
        margin-top: 0;
      }
      p {
        margin-bottom: 0;
      }
    }

    img {
      width: 100vw;
    }
    h2, p, ul {
      text-align: initial;
      padding: 0 $size-32;
    }

    logo {
      height: 180px;
      margin: 0 auto;
    }
    nav {
      display: flex;
      flex-direction: column;
      gap: $size-16;
      padding: 0 $size-32;
    }
  }
}