// @use "../../styles/extendSurface.scss";
@use "../../styles/colors.scss" as *;
@use "../../styles/extendBlock.scss";
@use "../../styles/sizes.scss" as *;

.photoDroite {

  display: grid;
  grid:
    "h i"
    "p i"
    /1fr 1fr;
  padding-bottom: $section-spacing-v;

  &[class*="bgCol4"] {
    p,
    h2, li {
      color: $color-13;
    }
  }

  &[class*="tear"] {
    padding: 0;
  }

  &:has(nav) {
    grid:
      "h i" 1fr
      "p i" 1fr
      "n i" 1fr
      /1fr 1fr;

    p {
      padding-bottom: 0 !important;
    }
  }

  &:has(ul) {
    grid:
      "h i" auto
      "p i" auto
      "n i" auto
      /1fr 1fr;

    h2 {
      margin-top: $section-spacing-v;
    }
  }

  p,
  h2,
  nav,
  ul{
    padding: 0 $section-spacing-v $padding-xl $section-spacing-h;
  }

  img,
  logo {
    grid-area: i;
  }

  p {
    grid-area : p;
    align-self: self-start;
  }

  h2 {
    grid-area : h;
    align-self: self-end;
  }

  nav {
    @extend .nav;
  }

  nav, ul {
    grid-area: n;
  }
  ul {
    margin-bottom: $section-spacing-v;
    padding-left: calc($section-spacing-h + 1.5rem);
  }

  logo{
    margin-top: -$padding-xl;
  }
}