@use "../../styles/extenders.scss";
@use "../../styles/colors.scss" as *;
@use "../../styles/sizes.scss" as *;

.imageLeft{
  @extend .tear;

  display: grid;
  grid:
    "h i"
    "p i"
    /1fr 1fr;
  background-color: $color-4;
  padding: 0 !important;

  p, h2 {
    padding: 0 $section-spacing-v 0 $section-spacing-h;
    color: $color-13;
  }

  img{
    grid-area: i;
  }

  p{
    grid-area: p;
    align-self: self-start;
  }

  h2{
    grid-area: h;
    align-self: self-end;
  }
}