@use "../../styles/colors.scss" as *;
@use "../../styles/extendBlock.scss";
@use "../../styles/extendSurface.scss";
@use "../../styles/fonts.scss" as *;
@use "../../styles/sizes.scss" as *;
@use "../../styles/mixins.scss" as *;
@use "../cta/cta.scss" as *;

.photos4 {
  @extend .tear;
  @extend .sectionWithCards;

  position        : relative;
  background-color: $color-7;
  display         : flex;
  gap             : $size-16;
  text-align      : left !important;
  margin-bottom   : $size-60;
  padding-bottom  : var(--s-90) !important;           //à cause de la déchirure

  hgroup {
    max-width : 50%;
    align-self: center;
  }

  aside {
    padding              : 0 !important;
    max-width            : 50%;
    display              : grid !important;
    gap                  : $size-24;
    grid-template-columns: 1fr 1fr;
    grid-template-rows   : 1fr 1fr;
  }

  img {
    width        : 285px;
    border-radius: 4px 4px 0 0;
  }

  u {
    display    : block;
    font-family: $action-font;
    font-size  : $sizeF-16;
  }

  figure {
    background-color: $color-13;
    border-radius   : 4px;
  }

  figcaption {
    font-family: $title-font;
    font-size  : $sizeF-20;
    padding    : $size-12;
  }

  a {
    @extend .cta;
    @extend .cta-secondary;
    @extend .cta-hover-mustard;
  }

  p {
    margin-bottom: $sizeF-16;
  }

}

@include jusque("desktopXl"){
  .photos4{
    padding-top: $size-60;
    flex-direction: column;

    hgroup {
      max-width: unset;
    }

    h2 {
      margin-bottom: $size-32;
    }

    aside {
      max-width: unset;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: $size-32;
    }
    img {
      width: 100%; //TODO add blur
    }
  }
}


@include jusque("tablet"){
  .photos4{
    gap: $size-32;

    aside {
      display: flex !important;
      flex-direction: column;
    }
  }
}