@use "../../styles/colors.scss" as *;
@use "../../styles/extendBlock.scss";
@use "../../styles/extendSurface.scss";
@use "../../styles/fonts.scss" as *;
@use "../../styles/sizes.scss" as *;
@use "../cta/cta.scss" as *;

.photos4 {
  @extend .tear;
  @extend .sectionWithCards;

  position        : relative;
  background-color: $color-7;
  display         : flex;
  gap             : var(--s-16);
  text-align      : left !important;
  margin-bottom   : $size-60;
  padding-bottom  : 90px !important;           //à cause de la déchirure

  hgroup {
    max-width : 50%;
    align-self: center;
  }

  aside {
    padding              : 0 !important;
    max-width            : 50%;
    display              : grid !important;
    gap                  : var(--s-24);
    grid-template-columns: 1fr 1fr;
    grid-template-rows   : 1fr 1fr;
  }

  img {
    width        : 285px;
    border-radius: 4px 4px 0 0;
  }

  u {
    display    : block;
    font-family: $action-font;
    font-size  : var(--sf-16);
  }

  figure {
    background-color: $color-13;
    border-radius   : 4px;
  }

  figcaption {
    font-family: $title-font;
    font-size  : var(--sf-20);
    padding    : var(--s-12);
  }

  a {
    @extend .cta;
    @extend .cta-secondary;
    @extend .cta-hover-mustard;
  }

  p {
    margin-bottom: var(--sf-16);
  }

}