<section class="photos4">
  <hgroup>
    <h2>Besoin de calme ou plutôt d'aventures ?</h2>
    <p>Ici, tout est possible ! Siestes en lisière de forêt, randonnées, activités sportives, événements locaux,
      ateliers thématiques… Que vous choisissiez de rester sur place ou d’explorer les alentours, La Planque est le
      point de départ idéal pour vivre des expériences uniques en toute saison.</p>
    <a href="#activites">Découvrir les activités</a>
  </hgroup>

  <aside>
    <figure>
      <img src="/assets/images/rando.webp" loading="lazy" alt="Des personnes profitant d'une randonnée dans la nature">
      <figcaption><u>La Planque en printemps</u>Randonnées et réveil de la nature</figcaption>
    </figure>
    <figure>
      <img src="/assets/images/sieste.webp" loading="lazy" alt="un hamac suspendu dans la forêt">
      <figcaption><u>La Planque en été</u>Sport outdoor, marchés et soirées barbecue</figcaption>
    </figure>
    <figure>
      <img src="/assets/images/champi.webp" loading="lazy" alt="Des champignons et des pommes de pin">
      <figcaption><u>La Planque en automne</u>Cueillettes et couleurs flamboyantes</figcaption>
    </figure>
    <figure>
      <img src="/assets/images/hiver.webp" loading="lazy" alt="De la neige dans un paysage ensoleillé">
      <figcaption><u>La Planque en hiver</u>Baquettes et soirées cocooning</figcaption>
    </figure>
  </aside>
</section>