@use "../../styles/colors.scss" as *;
@use "../../styles/extendLayout.scss";
@use "../../styles/extendSurface.scss";
@use "../../styles/extendTypo.scss";
@use "../../styles/sizes.scss" as *;
@use "../../styles/mixins.scss" as *;

$iconSize: 73px;
$spacing : 21px;

.card {
  @extend .withBorder;
  @extend .dw383;

  border-color    : $color-13;
  background-color: $color-13;
  padding         : $size-32 $size-32;

  h3 {
    color: $color-8;
  }

  p, li {
    @extend .useAlbertMedium20;
  }

  ul {
    padding-inline-start: $size-16;
  }

  &:has(ul){
    h3 {
      margin: $size-16 0;
    }
  }
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@include jusque("tablet"){
  .card {
    text-align: center;
  }
  .cards {
    flex-direction: column;
    gap: $size-32;
    aside {
      display: flex;
      flex-direction: column;
    }
  }
}

// @include jusque("desktop"){
//   .card {
//     article {
//     text-align: center;
//     display: flex;
//     flex-direction: column;

//     }

//   }
//   .cards {
//     // flex-direction: column;
//     gap: $size-32;
//     // aside {
//     //   display: flex;
//     //   flex-direction: column;
//     // }
//   }
// }