@use "../../styles/colors.scss" as *;
@use "../../styles/sizes.scss" as *;
@use "../../styles/mixins.scss" as *;

$announcementBarHeight: calc(44px - ($size-8 * 2));

[role="top-banner"] {
  background-color: $color-8;
  color           : $color-13;
  padding         : $size-8;
  min-height      : $announcementBarHeight;
  display         : flex;
  justify-content : center;
  align-items     : center;

  a {
    text-decoration: underline;
    margin: 0 $size-8;
  }

  @include jusque('tablet'){
    flex-direction: column;
  }

}

