@use "../../styles/colors.scss" as *;
@use "../../styles/extendLayout.scss";
@use "../../styles/fonts.scss" as *;
@use "../../styles/sizes.scss" as *;

.tarifs {
  @extend .block;

  display: grid;
  grid   : 
    "h h"
    "t1 r"
    "t2 r"
    "a a"
    / 60% 40%;
  gap: $padding-l;

  &>* {
    text-align: initial;
  }

  h2 {
    grid-area: h;
  }

    // h3 {
    //   // color:$color-12;
    //   color:inherit !important;
    // }

  p {
    font-family: $title-font;
    font-size  : 1.5rem;
    font-weight: 400;
  }

  span {
    display: block;
  }

  article, aside {
    background-color: $color-13;
    padding: $padding-xl;

  }

  article, aside p:first-of-type {
    @extend .arrow;
  }

  article::before{
    top: $padding-xl;
    left: 0;
  }

  aside p:first-of-type::before {
    // display: block;
    top:0;
    left: -$padding-xl;
  }

  article:first-of-type{
    grid-area: t1;
  }

  article:last-of-type{
    grid-area: t2;
  }

  aside {
    grid-area       : r;
    flex-direction  : column !important;
  }

  a {
    grid-area: a;
    color:$color-4;
    text-decoration: underline;
  }
}

.arrow{
  position: relative;
  width   : 100%;

  &::before{
    content         : "";
    background-image: url(/assets/icons/arrow.svg);
    background-size : cover;
    display         : block;
    width           : $padding-xl;
    height          : $padding-xl;
    position        : absolute;
  }
}