<section class="tarifs">
  <h2>Les tarifs La Planque</h2>
  <article>
    <h3>Séjourner à La Planque</h3>
    <p>30 € par personne et par nuit.<span>(taxe de séjour incluse)</span></p>
  </article>
  <article>
    <h3>Vous préférez être seul(e)s au monde ?</h3>
    <p>Privatisez La Planque entièrement pour 250 € la nuit.<span>(taxe de séjour incluse)</span></p>
  </article>
  <aside>
    <h3>Petit-déjeuner copieux</h3>
    <p>10 €</p>
    <h3>Déjeuner + dîner maison</h3>
    <p>25 € (entrée, plat, dessert et bon verre de vin)</p>
    <span>Les petits-déjeuners et repas sont en option pour les 2 formules.<br>Ceci dit, si vous souhaitez éviter le fourneau durant votre séjour, vous pourrez mettre simplement les pieds sous la table.</span>
  </aside>
  <a href="#modalites">Consulter les modalités d'annulation</a>
</section>