
<section class="testimonial">
    <h2>Ils en parlent mieux que nous</h2>
    <article>
      <blockquote cite="https://laplanque-ardeche.fr/avis#marie">
        "Fantastique ! Un shoot de nature, une injection d'oxygène, un véritable retour aux sources dans un
        environnement à couper le souffle ou le reprendre... Le seul risque : se faire du bien..."
      </blockquote>
      <p>Marie</p>
    </article>

    <article>
      <blockquote cite="https://laplanque-ardeche.fr/avis#Laurence">
        "Nous nous sommes sentis si bien accueillis, dorlotés et nourris. Votre joyeuse humeur communicative résonne
        dans ces vastes espaces vierges que vous façonnez avec amour."
      </blockquote>
      <p>Laurence</p>
    </article>
    
    <article>
      <blockquote cite="https://laplanque-ardeche.fr/avis#Christine">
        "Que du bonheur! Moment convivial partagé en votre compagnie. Super week-end, exceptionnel. Merci pour votre
        accueil, votre bonne humeur. Je suis vraiment heureuse. À bientôt !"
      </blockquote>
      <p>Christine</p>
    </article>
    <article>
      <blockquote cite="https://laplanque-ardeche.fr/avis#Pascal">
        "Pour vivre heureux vivons planqués, cette pourrait être la devise de cette bâtisse bien cachée à l'abri des
        arbres, sous le regard du Mont-Gerbier des Joncs et du Mézenc."
      </blockquote>
      <p>Pascal</p>
    </article>
    
    <article>
      <blockquote cite="https://laplanque-ardeche.fr/avis#Marie-Madeleine">
        "Une parenthèse de bonheur et de fraîcheur. Des hôtes merveilleux. Un lieu paradisiaque. Notre séjour était
        juste trop court ! Nous y reviendrons pour goûter le pain maison."
      </blockquote>
      <p>Marie-Madeleine</p>
    </article>
    
    <article>
      <blockquote cite="https://laplanque-ardeche.fr/avis#andree-et-Jean-Claude">
        "Enfin une chambre d'hôtes tout à fait à la hauteur de mes attentes ! L'ambiance est exceptionnelle. La
        restauration et l'animation sont au top ! Mille mercis et à bientôt pour une autre expérience aussi
        sensationnelle."
      </blockquote>
      <p>Andrée et Jean-Claude</p>
    </article>
</section>