<footer>
  <aside>
    <logo class="dark" role="img" aria-label="La Planque"></logo>
    <a href="#" aria-hidden="true" aria-label="Suivez-nous sur facebook"><img loading="lazy" src="/assets/icons/fb.svg" alt=""></a>
    <a href="#" aria-hidden="true" aria-label="Suivez-nous sur instagram"><img loading="lazy" src="/assets/icons/insta.svg" alt=""></a>
    <a href="#" aria-hidden="true" aria-label="Suivez-nous sur youtube"><img loading="lazy" src="/assets/icons/yt.svg" alt=""></a>
  </aside>
  <nav>
    <h4>À propos</h4>
    <ul>
      <li><a href="#">La Maison</a></li>
      <li><a href="#">Le concept</a></li>
      <li><a href="#">Les Planqués</a></li>
      <li><a href="#">Nos partenaires</a></li>
    </ul>
  </nav>
  <nav>
    <h4>À découvrir</h4>
    <ul>
      <li><a href="#">Le Fournil de Ma Mie Louise</a></li>
      <li><a href="#">Les activités</a></li>
      <li><a href="#">Les événements</a></li>
      <li><a href="#">La région / Le village ?</a></li>
    </ul>
  </nav>
  <form>
    <h4>Inscrivez-vous à la newsletter</h4>
    <p>S'inscrire à la newsletter pour suivre notre actualité</p>
    <input type="email" placeholder="Votre email">
    <button type="submit" class="cta-small"><img loading="lazy" src="/assets/icons/submit.svg" alt="icône pour envoyer le formulaire"></button>
    <nav aria-hidden="true" aria-label="plus d'informations">
      <a class="cta-small" data-icon="1" href="#devis">nous contacter</a>
      <a class="cta-small" data-icon="1" href="#">FAQ</a>
    </nav>
  </form>
  <hr>
  <p>© Copyright 2026 - La Planque</p>

  <nav aria-label="liens légaux">
    <ul>
      <li><a href="#">CGU</a></li>
      <li><a href="#">CGV</a></li>
      <li><a href="#">Politique de confidentialité</a></li>
      <li><a href="#">Mentions Légales</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Français (FR)</a></li>
      <li><a href="#">€ EUR</a></li>
    </ul>
  </nav>
</footer>