<footer>
  <a href="/">
    <logo class="dark" role="img" aria-label="La Planque"></logo>
  </a>
  <nav>
    <h4>À propos</h4>
    <ul>
      <li><a href="/la-planque">La Maison</a></li>
      <li><a href="/les-planques">Les Planqués</a></li>
      <li>
        <a href="#" aria-hidden="true" aria-label="Suivez-nous sur facebook">
          <img loading="lazy" src="/assets/icons/fb.svg" alt="">
        </a>
      </li>
      <li>
        <a href="#" aria-hidden="true" aria-label="Suivez-nous sur instagram">
          <img loading="lazy" src="/assets/icons/insta.svg" alt="">
        </a>
      </li>
    </ul>
  </nav>

  <a data-icon="1" href="/contact" class="cta-small">Nous contacter</a>

  <p>© Copyright 2026 - La Planque</p>

  <nav aria-label="liens légaux">
    <ul>
      <li><a href="#">CGU</a></li>
      <li><a href="#">CGV</a></li>
      <li><a href="#">Politique de confidentialité</a></li>
      <li><a href="#">Mentions Légales</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="">Plan du site</a></li>
    </ul>
  </nav>
</footer>