<footer>
    <a href="/">
      <logo class="dark" role="img" aria-label="La Planque"></logo>
    </a>
  <nav>
    <h4>À propos</h4>
    <ul>
      <li><a href="/la-planque">La Maison</a></li>
      <li><a href="/les-planques">Les Planqués</a></li>
    </ul>
  </nav>

  <nav>
    <a data-icon="1" href="/contact">Nous contacter</a>
    <a href="#" aria-hidden="true" aria-label="Suivez-nous sur facebook"><img loading="lazy"
        src="/assets/icons/fb.svg" alt=""></a>
    <a href="#" aria-hidden="true" aria-label="Suivez-nous sur instagram"><img loading="lazy"
        src="/assets/icons/insta.svg" alt=""></a>
  </nav>

  <hr>
  <p>© Copyright 2026<br>La Planque</p>

  <nav aria-label="liens légaux">
    <ul>
      <li><a href="#">CGU</a></li>
      <li><a href="#">CGV</a></li>
      <li><a href="#">Politique de confidentialité</a></li>
      <li><a href="#">Mentions Légales</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="">Plan du site</a></li>
    </ul>
  </nav>
</footer>