@use "../../styles/colors.scss" as *;
@use "../../styles/extendBlock.scss";
@use "../../styles/extendLayout.scss";
@use "../../styles/extendTypo.scss";
@use "../../styles/mixins.scss" as *;
@use "../../styles/settings.scss" as *;
@use "../../styles/sizes.scss" as *;
@use "../cta/cta.scss" as *;

footer {
  position: relative;
  display: grid;
  grid:
    "logo propos a"
    "hr hr hr"
    "cp legal legal"
    / 1fr 1fr 1fr;
  padding: $size-60 $size-120 0 $size-120;
  gap: $size-16;

  &::after {
    content         : "";
    background-image: url(/assets/icons/herbes.svg);
    display         : block;
    position        : absolute;
    right           : 0;
    top             : 0;
    top             : -153px;
    bottom          : auto;
    left            : auto;
    width           : 362px;
    height          : 500px;
    background-size : contain;
    z-index         : 0;
  }

  hr {
    grid-area: hr;
  }

  &>a {
    grid-area: logo;
  }

  nav a:hover{
    color: $color-4;
  }

  & > nav, p {
    @extend .useAlbertRegular;
  }

  & > nav:first-of-type {
    grid-area: propos;
    // text-align: center;
  }

  & > nav:nth-of-type(2) {
    grid-area: a;

    display: grid;
    grid:
      "b b"
      "a1 a2";
    width: 100%;
    gap:$size-32;
    z-index: 1;

    a:not(:first-of-type) {
      @extend .flexCentered;

      background-color: $color-10;
      padding         : $size-16;
      border-radius   : 50%;
      display         : inline-block;
      width           : 48px;
      height          : 48px;
      border          : 3px solid transparent;
      transition      : border-color .3s ease-in-out;

      &:hover{
        border-color: $color-4;
      }

      &:nth-of-type(2){
        grid-area: a1;
      justify-self: end;
      }

      &:last-of-type{
        grid-area: a2;
      justify-self: start;
      }
    }
    a:first-of-type {
      @extend .cta;
      @extend .cta-hover-mustard;
      
      grid-area: b;
      width: 100%;
      // text-align: center;
      // justify-content: center;
    }



  }

  & > nav:last-of-type {
    grid-area: legal;
    font-weight: bold;
    font-size: $sizeF-16;
    justify-self: end;
    margin-bottom: $size-16;
    z-index: 1;

    li {
      display: inline-flex;
      margin: 0 $size-8;
    }
  }

  p {
    grid-area: cp;
    font-weight: bold;
    font-size: $sizeF-16;
  }

  li {
    list-style-type: none;
    margin-top: $size-20;
  }

  input{
    @extend .inputForm;
    @extend .useAlbertSemi;
    font-size: $sizeF-16;
    // width: calc(100% - #{$finalSize} - ($size-16 / 2) ); //padding-default c'est la marge entre le bouton et l'input
  }
}

@include jusque("desktopXl"){
  footer{
    --paddingLR: #{fluid(0px, $size-90, $desktopLargeRef)};
    padding: $size-60 var(--paddingLR) 0 var(--paddingLR);
    grid-template-columns: 187px auto auto auto;

    &::after {
      top : -247px;
    }

    p {
      text-align: center;
    }
  }
}

@include jusque("desktop"){
  footer{
    padding: $size-16;
    row-gap : $size-12;
    grid:
      "logo a"
      "logo propos"
      "hr hr"
      "cp legal";

    aside{
      margin: 0 auto;
    }
    nav {
      display: block;

      &:first-of-type{
        margin: 0 auto;
      }

      &:first-of-type, &:first-of-type ul {
        display: inline-flex;
        gap: $size-32;
      }

      &:first-of-type li {
        margin-top: 4px;
      }
    }
    form {
      width: 100%;
      row-gap : $size-12;
    }

    &::after {
      top: -294px;
    }
  }
}