@use "../../styles/colors.scss" as *;
@use "../../styles/extendBlock.scss";
@use "../../styles/extendLayout.scss";
@use "../../styles/extendTypo.scss";
@use "../../styles/mixins.scss" as *;
@use "../../styles/settings.scss" as *;
@use "../../styles/sizes.scss" as *;
@use "../cta/cta.scss" as *;
@use "../logo/logo.scss" as *;

footer {
  position: relative;
  display: grid;
  grid:
    "logo propos a"
    "cp legal legal"
    / $widthDark 1fr 1fr;
  padding: $size-60 $size-120 0 $size-120;
  gap: $size-32 $size-12;

  &::after {
    content: "";
    background-image: url(/assets/icons/herbes.svg);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    top: -153px;
    bottom: auto;
    left: auto;
    width: 362px;
    height: 500px;
    background-size: contain;
    z-index: 0;
  }

  &>a:first-of-type {
    grid-area: logo;
  }

  &>a:last-of-type {
    @extend .cta;

    grid-area: a;
    width: 100%;
    z-index: 1;
    height: $size-32;
    align-self: self-end;
  }

  a:hover {
    color: $color-4;
  }

  &>nav,
  p {
    @extend .useAlbertRegular;
  }

  &>nav:first-of-type {
    grid-area: propos;
    align-self: self-end;
    justify-self: center;

    h4 {
      padding-bottom: $size-16;
    }

    ul {
      display: grid;
      width: fit-content;
      gap: $size-16;
    }

    li:first-of-type,
    li:nth-of-type(2) {
      grid-column: 1/3;
    }

    li:last-of-type,
    li:nth-of-type(3) {
      justify-self: center;

      a {
        @extend .flexCentered;

        background-color: $color-10;
        padding: $size-16;
        border-radius: 50%;
        display: inline-block;
        width: 48px;
        height: 48px;
        border: 3px solid transparent;
        transition: border-color .3s ease-in-out;

        &:hover {
          border-color: $color-4;
        }
      }
    }

  }

  &>nav:last-of-type {
    grid-area: legal;
    font-weight: bold;
    font-size: $sizeF-16;
    justify-self: end;
    margin-bottom: $size-16;
    z-index: 1;

    li {
      display: inline-flex;
      margin: 0 $size-8;
    }
  }

  p {
    grid-area: cp;
    font-weight: bold;
    font-size: $sizeF-16;
    justify-self: center;
    text-align: center;
    width: 155px;
  }

  li {
    list-style-type: none;
  }
}

@include jusque("tablet") {
  footer {
    grid:
      "logo"
      "propos"
      "a"
      "legal"
      "cp";
    gap: $size-16;

    &::after {
      top: 110px;
    }

    nav:last-of-type, & > a, p {
      width: 80% !important;
      margin: 0 auto;
      justify-self: initial;
      text-align: initial;
    }

    nav {
      display: block !important;

      &:last-of-type {
        justify-self: initial;

        li {
          display: block;
        }
      }
    }
    logo {

      margin: 0 auto;
    }
    p {
      width: unset;
    }
  }
}