@use "../../styles/colors.scss" as *;
@use "../../styles/sizes.scss" as *;
@use "../../styles/fonts.scss" as *;
@use "../../styles/extendSurface.scss";

$navBarHeight: 196px;

.mainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--s-20);
  flex-wrap: wrap;
  gap: var(--s-16);

  & ul {
    display: flex;
    gap: var(--s-32);
    list-style: none;

    a {
      @extend .titleStyleShadow;

      font-size: var(--sf-20);
      text-decoration: none;

      &:hover {
        @extend .underline-short;
        color: $link-color;
      }

      &[href="#"] {
        color: $link-color;
        @extend .underline-short;
      }
    }
  }

  img {
    max-height: 150px;
  }
}

.underline-short::after {
  animation: underlineGrow 0.5s ease forwards;
  background: $link-color;
  bottom: -3px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  width: 50%;
}