@use "../card/card.scss";
@use "../cta/cta.scss";
@use "../../styles/sizes.scss" as *;
@use "../../styles/colors.scss" as *;
@use "../../styles/fonts.scss" as *;


$imageMainTriptyque:  clamp(200px, calc(640px * 100vw / 1440px), 640px);
$imageSmallTriptyque: clamp(200px, calc(360px * 100vw / 1440px), 360px);
$spaceImageTriptyque: clamp(5px,   calc(40px * 100vw / 1440px),  40px);

.triptyque {
  display: grid;
  width: 100%;
  max-width: 1440px;
  grid: ". . . iC iC iC iC iC iC . . ."
    "iG iG . iC iC iC iC iC iC . iD iD"
    ". . . iC iC iC iC iC iC . . ."
    ". h h h h h h h h h h ."
    ". p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 ."
    ". p2 p2 p2 p2 p2 p2 p2 p2 p2 p2 ."
    ". . b1 b1 b1 b1 b2 b2 b2 b2 . ."
    ". c1 c1 c1 . c2 c2 . c3 c3 c3 ."
    /$padding-xl auto $spaceImageTriptyque auto auto auto auto auto auto $spaceImageTriptyque auto $padding-xl;
  text-align: center;
  color: $color-12;
  margin: $padding-xl auto;

  &>img {
    border-radius: 4px;
    box-shadow: $shadow-size;

    &:first-of-type {
      grid-area: iG;
      width: $imageSmallTriptyque;
    }

    &:nth-of-type(2) {
      grid-area: iC;
      width: $imageMainTriptyque;
    }

    &:nth-of-type(3) {
      grid-area: iD;
      width: $imageSmallTriptyque;
    }
  }

  h2 {
    grid-area: h;
    padding: $padding-xl 0;
  }

  &>p {
    font-family: $action-font;

    &:first-of-type {
      grid-area: p1;
    }

    &:last-of-type {
      grid-area: p2;
      margin-bottom: $padding-xl;
    }
  }



  a:first-of-type {
    @extend .cta;
    grid-area: b1;
    justify-self: flex-end;
    margin-right: $padding-s;
  }

  a:nth-of-type(2) {
    @extend .cta;
    grid-area: b2;
    // align-self: self-start;
    justify-self: flex-start;
    margin-left: $padding-s;
  }

  // a:nth-of-type(3) {
  //   grid-area: c1;
  //   @extend .cardTriptyque;
  // }

  // a:nth-of-type(4) {
  //   grid-area: c2;
  //   @extend .cardTriptyque;
  // }

  // a:nth-of-type(5) {
  //   grid-area: c3;
  //   @extend .cardTriptyque;
  // }
}