<section class="triptyque">
  <img src="/assets/images/jardin-section.webp" alt="un jardin à l'anglaise">
  <img src="/assets/images/interieur1.webp" alt="une photo du salon">
  <img src="/assets/images/table-jardin.webp" alt="une table accueillante pour prendre des thé à l'extérieur">
  <h2>La Planque : un coin de tranquillité à 2h30 de Lyon</h2>
  <p>Poussez les portes de notre maison centenaire et laissez-vous envelopper par son ambiance cosy et chaleureuse. Vous
    êtes ici, comme chez vous. À l'extérieur, 20 hectares de nature s'étendent à perte de vue. Un espace naturel qui
    vous invite à explorer les sentiers forestiers, à vous prélasser dans les prairies verdoyantes ou simplement à vous
    faire bercer par le chant des oiseaux.</p>
  <p>La Planque est le lieu parfait pour les amoureux de la nature, les épicuriens et les personnes en quête de
    tranquillité. La maison peut accueillir jusqu'à 12 personnes. Ce qui en fait un endroit idéal pour des moments de
    partage, des escapades en groupe ou des séjours plus intimes.</p>

  <a href="#reserver">Réserver votre séjour</a>
  <a href="#decouvrir">Découvrir la Planque</a>
  <a href="#">
    <card>
      <img src="/assets/icons/personnes.svg" loading="lazy" alt="icône de nombreuses personnes">
      <h3>12 personnes</h3>
      <p>Partage et convivialité</p>
    </card>
  </a>
  <a href="#">
    <card>
      <img src="/assets/icons/wifi.svg" " loading="lazy" alt=" icône réseau wifi">
      <h3>Pause digitale</h3>
      <p>Wifi en fonction de la météo</p>
    </card>
  </a>
  <a href="#">
    <card>
      <img src="/assets/icons/chien.svg" loading="lazy" alt="icône d'une patte de chien">
      <h3>Dog friendly</h3>
      <p>Liberté et sécurité</p>
    </card>
  </a>

</section>