  <photoGauche class="white">
    <img src="/assets/images/les-planques.webp" alt="Anthony et Julien - Les Planqués" loading="lazy">
    <h2>Les planqués</h2>
    <p>Nous, c'est Anthony et Julien. Nous avions un rêve : créer un lieu qui nous ressemble.<br><br>
      En 2023, nous sommes tombés amoureux de cette maison cachée dans un environnement d'exception. Nous l'avons
      naturellement appelée « La Planque ». C'était l'endroit que nous cherchions, parfait pour tout ce que nous
      avions en tête.<br><br>
      Nous imaginons une maison chaleureuse pour accueillir nos hôtes comme des amis et leur faire découvrir les
      produits du terroir. Anthony se voit déjà animer des ateliers pour parler biodiversité et filer dans sa
      forêt comestible. Et bien sûr, il y a notre fournil pour régaler tout le monde avec de délicieux pains au
      levain et autres gourmandises. Ce rêve est devenu une réalité et nous sommes heureux de le partager avec
      vous.<br><br>
      Anthony, Julien et nos compagnons Jolie et Rob.</p>
    <a href="#planques">Découvrir Les Planqués</a>
  </photoGauche>